.App {
    text-align: center;
    background-color: #7CB518;
}

h1 {
    font-size: 3rem;
    background-color: #FBB02D;
    color: #fff;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px #FB6107;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
/*place recipes in collumns of whatever fits the screen*/
.recipe-card {
    display: inline-block;
    margin: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: pulse 2s infinite;
  }
  
  .recipe-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .recipe-card img {
    height: 200px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  }
  
  .recipe-card .card-body {
    padding: 10px;
  }
  
  .recipe-card .card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .recipe-card .card-text {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .recipe-card a {
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    animation: pulse 2s infinite;
    
  }
  
  .recipe-card a:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }

  @media screen and (max-width: 768px) {
    .chef {
        width: 100%;
        height:auto;
    }
  }
  @keyframes pulse {
    0% {
      border: 2px solid #FBB02D;
    }
    50% {
      border: 4px solid #FB6107;
    }
    100% {
      border: 2px solid #F3DE2C;
    }
  }

  .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FBB02D;
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .prev,
  .next,
  li {
    margin: 0; 
  }
  
  .prev,
  .next {
    padding: 14px 16px;
    cursor: pointer;
    color: #fff;
  }
  
  .prev:hover,
  .next:hover {
    background-color: #D99E00; 
  }
  
  li {
    padding: 14px 16px;
  }
  
  li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }
  
  li:hover {
    background-color: #D99E00;
  }
  

